# Tina Cloud credentials from https://app.tina.io
# For Vercel, add the same variables in Project Settings -> Environment Variables.
NEXT_PUBLIC_TINA_CLIENT_ID=e802887a-b1b8-4967-8d2d-e2033bc726b6
TINA_TOKEN=***

# Usually set automatically in CI by Vercel / Netlify / GitHub, but can be overridden.
NEXT_PUBLIC_TINA_BRANCH=***
# To see the preview functionality
VERCEL_ENV=preview
